body {
    background-color: #FBE8A6;
    padding: 0;
    margin: 0;
    -moz-user-select: none;
    user-select:none;
}


header {
    width:100%;
    height:50px;
    background-image: linear-gradient(to bottom, #141015, #363237);
}


footer {
    background-image: linear-gradient(to bottom, #141015, #363237);
    height: 50px;
    position: fixed;
    bottom:0;
    width: 100%;
    color:whitesmoke;
    text-align: right;
}

#github {
    text-decoration: none;
    color:lightyellow;
}

#github:hover {
    color: darkcyan;
}

#title {
    font-size:25px;
    color: #ddb500;
    text-align:left;
    margin-left:20px;
    padding-top:2px;
    padding-left:20px;
    text-shadow: 1px 1px 2px darkred;
    font-family: 'Pacifico', cursive;
    display: inline-block;
    text-decoration:none;
}

#title a {
    text-decoration: none;
    color: #ddb500;
    text-shadow: 1px 1px 2px darkred;
    font-family: 'Pacifico', cursive;
}

#topMenu {
    background-color: #363237;
    height:50px;
    width: 100%;
}


#parallelogram {
    animation-name:"ShowParallelogram"; /* Nazwa animacji*/
    animation-duration:1s; /* Czas trwania animacji*/
    animation-iteration-count:1; /* Ile razy wykona się animacja?*/
    -webkit-animation-name:"ShowParallelogram";
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count:1;


    padding:30px;
    font-family: sans-serif;
    font-style: normal;
    text-align:justify;
    font-size:1.5vw;
    text-shadow: 1px 0 1px black;
    color: lightyellow;
    width: 60%;
    height: auto;
    transform: skewX( -20deg ); /* "Pochylenie" - tworzy kształt trapezu*/
    background-color: #585459;
    border-radius:20px;
    margin: 50px auto 0;
    box-shadow: 3px 2px 2px black;
}


@keyframes ShowParallelogram {
    0% { width: 1%;}
    100% { width:60%; }
    100% {font-size: 1.5vw;}
}


#logButton {
    background-color:#6E646F;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 120px;
    color:lightyellow;
    text-align: center;
    font-size:15px;
    font-family: 'Permanent Marker', cursive;
    position: absolute;
    right: 20px;
    box-shadow: 5px 5px 3px #292929; /*"Cień"*/
    outline-style:none; /*Działa dla chrome*/
}


#logButton:hover {
    background-color:#5D535E;
    height:35px;
    width: 130px;
    cursor: pointer;
}

.imgcontainer {
    position:relative;
}

.imgmenu {
    position:relative;
    border-radius:30px;
    width: 40%;
    height:200px;
    margin: 0 auto 5px 30%;
    cursor:pointer;
}

.imgtext {
    position: absolute;
    bottom: 20%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    color: lightyellow;
    font-family: sans-serif;
    text-shadow: 3px 3px 1px black;
}

#container
{
    width:80%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #585459, #363237);
    color:#DAAF21;
    padding: 10px 20px 30px 20px;
    border-radius:30px;
}