form {
    width:50%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, #585459, #363237);
    color:#DAAF21;
    padding: 10px 20px 30px 20px;
    border-radius:30px;
}

form>h2 {
    text-align:center;
}

label {
    display:block;
    text-align:center;
}

input {
    display:block;
    width:80%;
    margin: 0 auto;
    border-radius:8px;
    border-style:none;
    font-size:15px;
    background-color: lightgray;
    padding: 5px 0;

}

input.radio {
    display:inline;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    text-align:left;
    border: none;
    border-radius:5px;
    background-color: lightgray;
    color: #141015;
}


#submitMessage {
    background-color: #DAAF21;
    border-radius:20px;
    border:none;
    padding:8px 20px 8px 20px;
    width: 50%;
    margin: 20px;
    text-align:center;
    font-size:20px;
}

#submitMessage:hover {
    background-color: #C99E10;
}


.send-info {
    width:60%;
    background-color: #ccbb7b;
    border-radius:50px;
    padding:20px 30px 20px 30px;
    margin: 0 auto;
}

.send-title {
    font-size:18px;
    color: #292929;
    text-align:center;
    font-weight:600;
    margin-bottom:30px;
}

.send-return {
    background-color: #DAAF21;
    border-radius:20px;
    border:none;
    padding:8px 20px 8px 20px;
    width: 40%;
    text-align:center;
    font-size:20px;
    cursor:pointer;
    margin: 0 auto;
}

.send-return:hover {
    background-color: #C99E10;
}